<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.gdm.gt.gdm">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".atividades.MeuContexto"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".atividades.MenuPrincipal"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".atividades.NovaMesa"
            android:label="@string/title_activity_nova_mesa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".atividades.MostraMesa"
            android:label="@string/mesa"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".atividades.ListaCategorias"
            android:label="@string/title_activity_cadastros_categorias"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".listas.Usuarios"
            android:label="@string/title_activity_cadastro_usuarios"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".listas.Produtos"
            android:label="@string/title_activity_cadastro_produtos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".listas.ProdutosGer"
            android:label="@string/title_activity_cadastro_produtos"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".listas.Categorias"
            android:label="@string/title_activity_cadastros_categorias"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>